@import './assets/bootstrap.min.css';
@import './assets/spinner.css';

.app-alert {
  opacity: 0;
}

.app-alert.show {
  opacity: 1;
}

.app-fixed {
  position: fixed !important;
}

.app-modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.app-modal-init {
  position: unset;
}

.app-show {
  display: block;
}
